{% extends 'dashboard/layout.html' %}
{% load dashboard_extras %}
{% block title %}APP | administrador{% endblock %} 
{% block body %}

<!-- display_data.html -->
<h2>Datos del Archivo XLS</h2>
<!--
<table border="1">
    <tr>
        {% for key in data.0.keys %}
            <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr>
            {% for value in row.values %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
-->

<table class="table">
    <tr>        
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Numero</th>
        <th>Banco</th>
        <th>Empresa</th>
        <th></th>
    </tr>
    {% for row in data %}
        {% if row.nombre == row.nombre %}
        <tr>
            <td>{{row.nombre}}</td>
            <td>{{row.sexo}}</td>
            <td>{{row.numero}}</td>
            <td>{{row.banco}}</td>
            <td>{{row.empresa}}</td>
            <td id="tr{{row.numero}}"></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
<br/>
<textarea id="message" cols="5" class="form-control">
Estimad(SEX) NAME

Soy Johnny, Analista de Crédito de Scotiabank y me complace informarle sobre una campaña especial que estamos lanzando para COMPANY.

Estamos ofreciendo la posibilidad de comprar su deuda actual con BANK y transferirla con una Menor Tasa a Scotiabank. Es una excelente oportunidad para reducir sus costos financieros y simplificar sus pagos.

Si está interesado en obtener más información sobre esta oferta exclusiva, no dude en contactarme o responder a este mensaje para coordinar una reunión o agendar una llamada telefónica.

Atentamente,

Johnny
Analista de Crédito
Convenio - Scotiabank
</textarea>
<br/>
<buton class="btn btn-primary" id="sendMessageButton">Enviar wasapazo</buton>
{% endblock %}

{% block more_scripts %}
<script>
    function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function formatDate(date) {
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');

        const formattedTime = `${hours}:${minutes}:${seconds}`;
        return formattedTime;
    }

    $(document).ready(function(){
        $("#sendMessageButton").click(async function() {
            const numbers = [];            
            const names = [];
            const sexs = [];
            const companies = [];
            const banks = [];

            {% for row in data %}
            {% if row.nombre == row.nombre %}
            numbers.push(parseInt('{{row.numero}}'));
            names.push('{{row.nombre}}');
            sexs.push('{{row.sexo}}');
            companies.push('{{row.empresa}}');
            banks.push('{{row.banco}}');
            {% endif %}
            {% endfor %}

            const message = $("#message").val();
            // const now = new Date();
            let i=0;
            
            for (const number of numbers) {
                if(!number){
                  return;
                }
                
                if(i>0) {
                    const now = new Date();
                    const oneMinute = 60000;
                    const oneMinuteFromNow = new Date(now.getTime() + oneMinute);
                    $(`#tr${number}`).text(`mensaje se enviará a las ${formatDate(oneMinuteFromNow)}`);
                    await delay(oneMinute); // 60000 milliseconds = 1 minute
                }


                // const hour = now.getHours();
                // const minute = now.getMinutes() + 1;
                // const params = `phone_number=${encodeURIComponent(number.trim())}&message=${encodeURIComonent(message.replace("NAME", names[i]))}&hour=${hour}&minute=${minute}`;
                let messageTmp = message;
                messageTmp = messageTmp.replace("SEX", sexs[i].toUpperCase() == 'H' ? 'o': 'a' );
                messageTmp = messageTmp.replace("NAME", names[i]);
                messageTmp = messageTmp.replace("COMPANY", companies[i]);
                messageTmp = messageTmp.replace("BANK", banks[i]);

                console.log({messageTmp})
                const params = `phone_number=${number}&message=${encodeURIComponent(messageTmp)}`;
                
                try {
                    const response = await $.get(`/send-whatsapp-message/?${params}`);
                    $(`#tr${number}`).text('mensaje enviado');
                    console.log(`Response for ${number}:`, response);
                } catch (error) {
                    console.error(`Error sending message to ${number}:`, error);
                }

                i++;
            }
        });
    });
</script>
{% endblock %}